diffusers
jsonlines
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
einops
transformers
accelerate
pytorch-lightning
wandb
opencv-python
albumentations
matplotlib
omegaconf
boto3
deepspeed
pycocotools
bitsandbytes
peft